<!DOCTYPE html>
<style>
.p1 { font-family: "system-ui" }
    .p2 {
        font-family: "Trebuchet MS", Helvetica, sans-serif
    }
</style>
<head>
    <title>User Interface </title>
    <h1 class="p2" style="text-align:center;background-color:DodgerBlue;color:white;">Automated Disinfection Robot beta</h1>
    <h2 class="p1" style="text-align:center">Designed and Engineered by Group 2</h2>
</head>
  <body>
    <h1> </h1>
     
    <h2 style="text-align:center">

    </h2>

    <h3 style="text-align:center">Spray System Switch</h3>

    <form action="/on" style="text-align:center">
        <label class="switch">
            <input type="checkbox" name="Checkbox"  onclick="submit()" ; />
            <span class="slider round "></span>
        </label>

    </form>
  </body>
</html>
