<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <h1>Spraying System Template 1.0</h1>
    <p>This is a template for the spraying system applicatioin</p>

</head>

<body>
    <img src="{{ url_for('video_feed') }}">

    <p>Drag the slider to adjust the spraying angle.</p>
    <!-- Here follows the python code to control the slider-->

    <form action="/on" method="post">
        <input type="range" min="-90" max="90" value="0" class="slider" id="myRange" name="val">
        <p>Angle: <span id="Angle"></span></p>
        <script>
            var display = document.getElementById("myRange");
            var angDis = document.getElementById("Angle");
            angDis.innerHTML = display.value;
            display.oninput = function () {
                angDis.innerHTML = this.value;
            }
        </script>
        <button type="submit" id="submit">Update</button>
    </form>

    <form action="/on" method="get">
        <h1>Water Level %</h1>
        <p>{{data}}</p>
        <button type="submit">Check</button>
    </form>

    <h2>Spray System Switch</h2>

    <form action="/">
        <label class="switch">
            <input type="checkbox" name="Checkbox" checked="True" onclick="submit()" ; />
            <span class="slider round "></span>
        </label>

    </form>



</body>
</html>
